</br>
<div class="list-group">
<%= link_to "Anggota Badan",bahasa_arab_anggotabadan_path,class: "list-group-item list-group-ite" %>
<%= link_to "Anggota Badan 2",bahasa_arab_anggotabadan2_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Anggota Keluarga",bahasa_arab_anggotakeluarga_path,class: "list-group-item list-group-ite" %>
<%= link_to "Arah",bahasa_arab_arah_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Bentuk",bahasa_arab_bentuk_path,class: "list-group-item list-group-ite" %>
<%= link_to "Binatang Liar",bahasa_arab_binatangliar_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Binatang Perliharaan",bahasa_arab_binatangperliharaan_path,class: "list-group-item list-group-ite" %>
<%= link_to "Buah-buahan",bahasa_arab_buahbuahan_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Buah-buahan 2",bahasa_arab_buahbuahan2_path,class: "list-group-item list-group-ite" %>
<%= link_to "Bulan Islam",bahasa_arab_bulanislam_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Bulan Masihi",bahasa_arab_bulanmasihi_path,class: "list-group-item list-group-ite" %>
<%= link_to "Bunga",bahasa_arab_bunga_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Burung",bahasa_arab_burung_path,class: "list-group-item list-group-ite" %>
<%= link_to "Fenomena Alam",bahasa_arab_fenomenaalam_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Hari",bahasa_arab_hari_path,class: "list-group-item list-group-ite" %>
<%= link_to "Hobi",bahasa_arab_hobi_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Kenderaan",bahasa_arab_kenderaan_path,class: "list-group-item list-group-ite" %>
<%= link_to "Makanan",bahasa_arab_makanan_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Makanan 2",bahasa_arab_makanan2_path,class: "list-group-item list-group-ite" %>
<%= link_to "Masa",bahasa_arab_masa_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Musim",bahasa_arab_musim_path,class: "list-group-item list-group-ite" %>
<%= link_to "Negeri di Malaysia",bahasa_arab_negeridimalaysia_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Nombor1",bahasa_arab_nombor1_path,class: "list-group-item list-group-ite" %>
<%= link_to "Nombor 2",bahasa_arab_nombor2_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Nombor 3",bahasa_arab_nombor3_path,class: "list-group-item list-group-ite" %>
<%= link_to "Nombor 4",bahasa_arab_nombor4_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Nombor 5",bahasa_arab_nombor5_path,class: "list-group-item list-group-ite" %>
<%= link_to "Organ Dalaman",bahasa_arab_organdalaman_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Pakaian",bahasa_arab_pakaian_path,class: "list-group-item list-group-ite" %>
<%= link_to "Partikel",bahasa_arab_partikel_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Partikel 2",bahasa_arab_partikel2_path,class: "list-group-item list-group-ite" %>
<%= link_to "Partikel 3",bahasa_arab_partikel3_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Partikel 4",bahasa_arab_partikel4_path,class: "list-group-item list-group-ite" %>
<%= link_to "Partikel 5",bahasa_arab_partikel5_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Partikel 6",bahasa_arab_partikel6_path,class: "list-group-item list-group-ite" %>
<%= link_to "Pekerjaan",bahasa_arab_pekerjaan_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Pekerjaan 2",bahasa_arab_pekerjaan2_path,class: "list-group-item list-group-ite" %>
<%= link_to "Penyakit",bahasa_arab_penyakit_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Peralatan",bahasa_arab_peralatan_path,class: "list-group-item list-group-ite" %>
<%= link_to "Peralatan 2",bahasa_arab_peralatan2_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Peralatan 3",bahasa_arab_peralatan3_path,class: "list-group-item list-group-ite" %>
<%= link_to "Peralatan 4",bahasa_arab_peralatan4_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Sayur-sayuran",bahasa_arab_sayursayuran_path,class: "list-group-item list-group-ite" %>
<%= link_to "Sayur-sayuran 2",bahasa_arab_sayursayuran2_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Serangga haiwan Kecil",bahasa_arab_seranggahaiwankecil_path,class: "list-group-item list-group-ite" %>
<%= link_to "Serangga haiwan Kecil 2",bahasa_arab_seranggahaiwankecil2_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Warna",bahasa_arab_warna_path,class: "list-group-item list-group-ite" %>

</div>