    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "falah.org", root_url, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Bahasa <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Quran", quran_q01_path %></li>
                <li><%= link_to "Quranic", quranic_q01_path %></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header"></li>
                <li><%= link_to "Arab", bahasa_arab_hari_path %></li>
                <li><%= link_to "Jawi", jawi_hari_path %></li>
                <li><%= link_to "Inggeris", inggeris_hari_path %></li>
              </ul>
            </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
