</br>
<div class="list-group">
<%= link_to "Anggota Badan",inggeris_anggotabadan_path,class: "list-group-item list-group-ite" %>
<%= link_to "Anggota Badan 2",inggeris_anggotabadan2_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Anggota Keluarga",inggeris_anggotakeluarga_path,class: "list-group-item list-group-ite" %>
<%= link_to "Arah",inggeris_arah_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Bentuk",inggeris_bentuk_path,class: "list-group-item list-group-ite" %>
<%= link_to "Binatang Liar",inggeris_binatangliar_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Binatang Perliharaan",inggeris_binatangperliharaan_path,class: "list-group-item list-group-ite" %>
<%= link_to "Buah-buahan",inggeris_buahbuahan_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Buah-buahan 2",inggeris_buahbuahan2_path,class: "list-group-item list-group-ite" %>
<% link_to "Bulan Islam",inggeris_bulanislam_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<% link_to "Bulan Masihi",inggeris_bulanmasihi_path,class: "list-group-item list-group-ite" %>
<%= link_to "Bunga",inggeris_bunga_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Burung",inggeris_burung_path,class: "list-group-item list-group-ite" %>
<%= link_to "Fenomena Alam",inggeris_fenomenaalam_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Hari",inggeris_hari_path,class: "list-group-item list-group-ite" %>
<%= link_to "Hobi",inggeris_hobi_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Kenderaan",inggeris_kenderaan_path,class: "list-group-item list-group-ite" %>
<%= link_to "Makanan",inggeris_makanan_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Makanan 2",inggeris_makanan2_path,class: "list-group-item list-group-ite" %>
<%= link_to "Masa",inggeris_masa_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Musim",inggeris_musim_path,class: "list-group-item list-group-ite" %>
<%= link_to "Negeri di Malaysia",inggeris_negeridimalaysia_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Nombor1",inggeris_nombor1_path,class: "list-group-item list-group-ite" %>
<%= link_to "Nombor 2",inggeris_nombor2_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Nombor 3",inggeris_nombor3_path,class: "list-group-item list-group-ite" %>
<%= link_to "Nombor 4",inggeris_nombor4_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Nombor 5",inggeris_nombor5_path,class: "list-group-item list-group-ite" %>
<%= link_to "Organ Dalaman",inggeris_organdalaman_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Pakaian",inggeris_pakaian_path,class: "list-group-item list-group-ite" %>
<%= link_to "Partikel",inggeris_partikel_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Partikel 2",inggeris_partikel2_path,class: "list-group-item list-group-ite" %>
<%= link_to "Partikel 3",inggeris_partikel3_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Partikel 4",inggeris_partikel4_path,class: "list-group-item list-group-ite" %>
<%= link_to "Partikel 5",inggeris_partikel5_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Partikel 6",inggeris_partikel6_path,class: "list-group-item list-group-ite" %>
<%= link_to "Pekerjaan",inggeris_pekerjaan_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Pekerjaan 2",inggeris_pekerjaan2_path,class: "list-group-item list-group-ite" %>
<%= link_to "Penyakit",inggeris_penyakit_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Peralatan",inggeris_peralatan_path,class: "list-group-item list-group-ite" %>
<%= link_to "Peralatan 2",inggeris_peralatan2_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Peralatan 3",inggeris_peralatan3_path,class: "list-group-item list-group-ite" %>
<%= link_to "Peralatan 4",inggeris_peralatan4_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Sayur-sayuran",inggeris_sayursayuran_path,class: "list-group-item list-group-ite" %>
<%= link_to "Sayur-sayuran 2",inggeris_sayursayuran2_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Serangga haiwan Kecil",inggeris_seranggahaiwankecil_path,class: "list-group-item list-group-ite" %>
<%= link_to "Serangga haiwan Kecil 2",inggeris_seranggahaiwankecil2_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Warna",inggeris_warna_path,class: "list-group-item list-group-ite" %>

</div>