</br>
<div class="list-group">
<%= link_to "Anggota Badan",jawi_anggotabadan_path,class: "list-group-item list-group-ite" %>
<%= link_to "Anggota Badan 2",jawi_anggotabadan2_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Anggota Keluarga",jawi_anggotakeluarga_path,class: "list-group-item list-group-ite" %>
<%= link_to "Arah",jawi_arah_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Bentuk",jawi_bentuk_path,class: "list-group-item list-group-ite" %>
<%= link_to "Binatang Liar",jawi_binatangliar_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Binatang Perliharaan",jawi_binatangperliharaan_path,class: "list-group-item list-group-ite" %>
<%= link_to "Buah-buahan",jawi_buahbuahan_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Buah-buahan 2",jawi_buahbuahan2_path,class: "list-group-item list-group-ite" %>
<% link_to "Bulan Islam",jawi_bulanislam_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Bulan Masihi",jawi_bulanmasihi_path,class: "list-group-item list-group-ite" %>
<%= link_to "Bunga",jawi_bunga_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Burung",jawi_burung_path,class: "list-group-item list-group-ite" %>
<%= link_to "Fenomena Alam",jawi_fenomenaalam_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Hari",jawi_hari_path,class: "list-group-item list-group-ite" %>
<%= link_to "Hobi",jawi_hobi_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Kenderaan",jawi_kenderaan_path,class: "list-group-item list-group-ite" %>
<%= link_to "Makanan",jawi_makanan_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Makanan 2",jawi_makanan2_path,class: "list-group-item list-group-ite" %>
<%= link_to "Masa",jawi_masa_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Musim",jawi_musim_path,class: "list-group-item list-group-ite" %>
<%= link_to "Negeri di Malaysia",jawi_negeridimalaysia_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Nombor1",jawi_nombor1_path,class: "list-group-item list-group-ite" %>
<%= link_to "Nombor 2",jawi_nombor2_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Nombor 3",jawi_nombor3_path,class: "list-group-item list-group-ite" %>
<%= link_to "Nombor 4",jawi_nombor4_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Nombor 5",jawi_nombor5_path,class: "list-group-item list-group-ite" %>
<%= link_to "Organ Dalaman",jawi_organdalaman_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Pakaian",jawi_pakaian_path,class: "list-group-item list-group-ite" %>
<%= link_to "Partikel",jawi_partikel_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Partikel 2",jawi_partikel2_path,class: "list-group-item list-group-ite" %>
<%= link_to "Partikel 3",jawi_partikel3_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Partikel 4",jawi_partikel4_path,class: "list-group-item list-group-ite" %>
<%= link_to "Partikel 5",jawi_partikel5_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Partikel 6",jawi_partikel6_path,class: "list-group-item list-group-ite" %>
<%= link_to "Pekerjaan",jawi_pekerjaan_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Pekerjaan 2",jawi_pekerjaan2_path,class: "list-group-item list-group-ite" %>
<%= link_to "Penyakit",jawi_penyakit_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Peralatan",jawi_peralatan_path,class: "list-group-item list-group-ite" %>
<%= link_to "Peralatan 2",jawi_peralatan2_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Peralatan 3",jawi_peralatan3_path,class: "list-group-item list-group-ite" %>
<%= link_to "Peralatan 4",jawi_peralatan4_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Sayur-sayuran",jawi_sayursayuran_path,class: "list-group-item list-group-ite" %>
<%= link_to "Sayur-sayuran 2",jawi_sayursayuran2_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Serangga haiwan Kecil",jawi_seranggahaiwankecil_path,class: "list-group-item list-group-ite" %>
<%= link_to "Serangga haiwan Kecil 2",jawi_seranggahaiwankecil2_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Warna",jawi_warna_path,class: "list-group-item list-group-ite" %>

</div>