</br>
<div class="list-group">
<%= link_to "Part 01",quranic_q01_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 02",quranic_q02_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 03",quranic_q03_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 04",quranic_q04_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 05",quranic_q05_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 06",quranic_q06_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 07",quranic_q07_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 08",quranic_q08_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 09",quranic_q09_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 10",quranic_q10_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 11",quranic_q11_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 12",quranic_q12_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 13",quranic_q13_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 14",quranic_q14_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 15",quranic_q15_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 16",quranic_q16_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 17",quranic_q17_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 18",quranic_q18_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 19",quranic_q19_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 20",quranic_q20_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 21",quranic_q21_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 22",quranic_q22_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 23",quranic_q23_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 24",quranic_q24_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 25",quranic_q25_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 26",quranic_q26_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 27",quranic_q27_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 28",quranic_q28_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 29",quranic_q29_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 30",quranic_q30_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 31",quranic_q31_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 32",quranic_q32_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 33",quranic_q33_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 34",quranic_q34_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 35",quranic_q35_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 36",quranic_q36_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 37",quranic_q37_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 38",quranic_q38_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 39",quranic_q39_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 40",quranic_q40_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 41",quranic_q41_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 42",quranic_q42_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 43",quranic_q43_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 44",quranic_q44_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 45",quranic_q45_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 46",quranic_q46_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 47",quranic_q47_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 48",quranic_q48_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 49",quranic_q49_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 50",quranic_q50_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 51",quranic_q51_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 52",quranic_q52_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 53",quranic_q53_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 54",quranic_q54_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 55",quranic_q55_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 56",quranic_q56_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 57",quranic_q57_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 58",quranic_q58_path,class: "list-group-item list-group-item-action list-group-item-info" %>
<%= link_to "Part 59",quranic_q59_path,class: "list-group-item list-group-ite" %>
</div>